/* apply fonts to page */

@import "https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+slab:wght@700&display=swap";


/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}


h1, h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #000;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

h1 {
  text-align: center;
  padding: 1rem 0;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 3px;
}


body {
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

p.indent {
  text-indent: 2em;
}

p {
  margin: 1.2rem 0;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

a[href*="http"] {
  padding-right: 16px;
  background: url("external-link-52.png") no-repeat right center;
  background-size: 14px 14px;
}

.nav ul {
  display: flex;
  flex-direction: column; 
  gap: 0.5rem;
  padding: 0;
  margin-top: 2rem 0;
  list-style: none;
}
 

.nav li a {
  text-decoration: none;
  border: 1px solid #8B4513;
  color: #8B4513;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font size: 1.3rem;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 3.5;
  font-family: 'Roboto-Slab', serif;
  display: block;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav li a: hover {
  background-color: #8B4513;
  color: white;
}
  

a {
  color: #a9746e;
  text-decoration: underline;
}

a:focus,
a:hover {
  color: #5c4033;
  text-decoration: none;
}

a:focus {
  outline: none;
}
  


  
